# 1. Write a R Code to create the following vectors having scaler value u <- 4 and v <- 8

In [1]:
u<-4
v<-8

print(u)
print(v)

[1] 4
[1] 8

# Use the elementary arithmetic operators +, -, *, /, and ^ to:
# a. add u and v
# b. subtract v from u
# c. multiply u by v
# d. divide u by v
# e. raise u to the power of v

In [2]:
u <- 4
v <- 8

add_result <- u + v
print(add_result)

subtract_result <- u - v
print(subtract_result)

multiply_result <- u * v
print(multiply_result)

divide_result <- u / v
print(divide_result)

power_result <- u ^ v
print(power_result)

[1] 12
[1] -4
[1] 32
[1] 0.5
[1] 65536

# 2. Write a R Code to create vector with multiple elements:
# u <- c(4, 5, 6)
# v <- c(1, 2, 3)
# a. add u and v
# b. subtract v from u
# c. multiply u by v
# d. divide u by v
# e. raise u to the power of v
# how about vectors that differ in length? Let’s find out… Consider the following vectors:
# f. u <- c(5, 6, 7, 8)
# g. v <- c(2, 3, 4)

In [3]:
u <- c(4, 5, 6)
v <- c(1, 2, 3)

add_result <- u + v
print(add_result)

subtract_result <- u - v
print(subtract_result)

multiply_result <- u * v
print(multiply_result)

divide_result <- u / v
print(divide_result)

power_result <- u ^ v
print(power_result)

u <- c(5, 6, 7, 8)
v <- c(2, 3, 4)

add_result_diff_length <- u + v
print(add_result_diff_length)

subtract_result_diff_length <- u - v
print(subtract_result_diff_length)

multiply_result_diff_length <- u * v
print(multiply_result_diff_length)

divide_result_diff_length <- u / v
print(divide_result_diff_length)

power_result_diff_length <- u ^ v
print(power_result_diff_length)

[1] 5 7 9
[1] 3 3 3
[1]  4 10 18
[1] 4.0 2.5 2.0
[1]   4  25 216

Warning message in u + v:
“longer object length is not a multiple of shorter object length”

[1]  7  9 11 10

Warning message in u - v:
“longer object length is not a multiple of shorter object length”

[1] 3 3 3 6

Warning message in u * v:
“longer object length is not a multiple of shorter object length”

[1] 10 18 28 16

Warning message in u/v:
“longer object length is not a multiple of shorter object length”

[1] 2.50 2.00 1.75 4.00

Warning message in u^v:
“longer object length is not a multiple of shorter object length”

[1]   25  216 2401   64

# 3. Write a R program to create a vector of numeric, logical and character types of length 6. Also show their datatype using class function

In [4]:
numeric_vector <- c(1.5, 2.7, 3.9, 4.2, 5.0, 6.3)
numeric_class <- class(numeric_vector)

logical_vector <- c(TRUE, FALSE, TRUE, TRUE, FALSE, FALSE)
logical_class <- class(logical_vector)

character_vector <- c("apple", "banana", "orange", "grape", "kiwi", "melon")
character_class <- class(character_vector)

print(numeric_vector)
print(numeric_class)
print(logical_vector)
print(logical_class)
print(character_vector)
print(character_class)

[1] 1.5 2.7 3.9 4.2 5.0 6.3
[1] "numeric"
[1]  TRUE FALSE  TRUE  TRUE FALSE FALSE
[1] "logical"
[1] "apple"  "banana" "orange" "grape"  "kiwi"   "melon"
[1] "character"

# 4. Write a R program to find Sum, Minimum, Maximum, Mean and Product of a Vector.
# Vector <- c(10,20,30)

In [5]:
Vector <- c(10, 20, 30)

vector_sum <- sum(Vector)

vector_min <- min(Vector)

vector_max <- max(Vector)

vector_mean <- mean(Vector)

vector_product <- prod(Vector)

print(paste("Sum:", vector_sum))
print(paste("Minimum:", vector_min))
print(paste("Maximum:", vector_max))
print(paste("Mean:", vector_mean))
print(paste("Product:", vector_product))

[1] "Sum: 60"
[1] "Minimum: 10"
[1] "Maximum: 30"
[1] "Mean: 20"
[1] "Product: 6000"

# 5. Write a below R code and Explain the use of ls() function in R name = "R";
# n1 = 10;
# n2 = 0.5
# nums = c(10, 20, 30, 40, 50, 60)
# print(ls())
# print("Details of the objects in memory:")
# print(ls.str())

# The ls() function in R stands for "list objects." It is used to list the names of all objects in the current workspace or environment. When called without any arguments, ls() returns a character vector of the names of all objects currently available in the R workspace.

# In the provided code, we have defined several objects: name, n1, n2, and nums. After defining these objects, we use the ls() function to print the names of all objects in the current workspace. The print(ls()) statement will display the names of these objects, which are "name", "n1", "n2", and "nums".

# Additionally, the ls.str() function can be used to provide more details about the objects in memory. It prints a summary of each object's structure and type. In the code snippet, we use print(ls.str()) to display the details of the objects in the workspace.

# 6. Write a program to create a sequence of numbers from 20 to 50, find the mean of numbers from 20 to 60 and sum of numbers from 51 to 91.

In [14]:
sequence_20_to_50 <- seq(20, 50)

mean_20_to_60 <- mean(seq(20, 60))

sum_51_to_91 <- sum(seq(51, 91))

print("Sequence from 20 to 50:")
print(sequence_20_to_50)

print(paste("Mean of numbers from 20 to 60:", mean_20_to_60))

print(paste("Sum of numbers from 51 to 91:", sum_51_to_91))

[1] "Sequence from 20 to 50:"
 [1] 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44
[26] 45 46 47 48 49 50
[1] "Mean of numbers from 20 to 60: 40"
[1] "Sum of numbers from 51 to 91: 2911"

# 7. Write a program to create a vector which contains 10 random integer values between -50 and +50. (Hint : use sample() function to generate random integer)

In [15]:
min_value <- -50
max_value <- 50


random_vector <- sample(min_value:max_value, 10, replace = TRUE)

print(random_vector)

 [1] -10  42  37 -31  -3  26 -45  31 -16 -14

# 8. Write a program to print the numbers from 1 to 100 and print "Fizz" for multiples of 3, print "Buzz" for multiples of 5, and print "FizzBuzz" for multiples of both Hint: Learn how to create loop from 1 to 100 and if condition to get multiple of 3, 5 and both

In [9]:
for (i in 1:100) {
  if (i %% 3 == 0 && i %% 5 == 0) {
    print("FizzBuzz")
  } else if (i %% 3 == 0) {
    print("Fizz")
  } else if (i %% 5 == 0) {
    print("Buzz")
  } else {
    print(i)
  }
}

[1] 1
[1] 2
[1] "Fizz"
[1] 4
[1] "Buzz"
[1] "Fizz"
[1] 7
[1] 8
[1] "Fizz"
[1] "Buzz"
[1] 11
[1] "Fizz"
[1] 13
[1] 14
[1] "FizzBuzz"
[1] 16
[1] 17
[1] "Fizz"
[1] 19
[1] "Buzz"
[1] "Fizz"
[1] 22
[1] 23
[1] "Fizz"
[1] "Buzz"
[1] 26
[1] "Fizz"
[1] 28
[1] 29
[1] "FizzBuzz"
[1] 31
[1] 32
[1] "Fizz"
[1] 34
[1] "Buzz"
[1] "Fizz"
[1] 37
[1] 38
[1] "Fizz"
[1] "Buzz"
[1] 41
[1] "Fizz"
[1] 43
[1] 44
[1] "FizzBuzz"
[1] 46
[1] 47
[1] "Fizz"
[1] 49
[1] "Buzz"
[1] "Fizz"
[1] 52
[1] 53
[1] "Fizz"
[1] "Buzz"
[1] 56
[1] "Fizz"
[1] 58
[1] 59
[1] "FizzBuzz"
[1] 61
[1] 62
[1] "Fizz"
[1] 64
[1] "Buzz"
[1] "Fizz"
[1] 67
[1] 68
[1] "Fizz"
[1] "Buzz"
[1] 71
[1] "Fizz"
[1] 73
[1] 74
[1] "FizzBuzz"
[1] 76
[1] 77
[1] "Fizz"
[1] 79
[1] "Buzz"
[1] "Fizz"
[1] 82
[1] 83
[1] "Fizz"
[1] "Buzz"
[1] 86
[1] "Fizz"
[1] 88
[1] 89
[1] "FizzBuzz"
[1] 91
[1] 92
[1] "Fizz"
[1] 94
[1] "Buzz"
[1] "Fizz"
[1] 97
[1] 98
[1] "Fizz"
[1] "Buzz"

# 9. Demonstrate the use of head() and Tail() in R

In [13]:
my_vector <- c(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)


head_result <- head(my_vector, 5)
print(head_result)


tail_result <- tail(my_vector, 5)
print(tail_result)

[1] 10 20 30 40 50
[1]  60  70  80  90 100

# 10.Demonstrate the use of Paste(), unique() in R

In [12]:
my_vector <- c("apple", "banana", "orange", "apple", "grape", "banana")

concatenated <- paste(my_vector, collapse = ", ")
print(concatenated)

unique_elements <- unique(my_vector)
print(unique_elements)

[1] "apple, banana, orange, apple, grape, banana"
[1] "apple"  "banana" "orange" "grape"